/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/

}

body {
    min-height: 100vh;
    justify-content: space-between;

    font-family: 'Inconsolata', monospace;

}

body, main, article, a {
    display: flex;
    flex-direction: column;
}


main {
    width: 100%;
    min-height: 80vh;
    flex-grow: 2;
    justify-content: space-around;
    overflow: hidden;

}

/*
article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}

*/




/*BACKGROUND CHANGE*/
.background_change{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    z-index: 1;
    align-items: flex-end;
    margin-right: 30px;

}

.background_change .btn{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 15px;
}
.background_change button {
    display:block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 15px;
    color: black;
    text-shadow: 0.4px 0.4px 0.4px black;
}

.background_change button:hover{
    text-decoration: underline;
    font-weight: bold;
}

.blue{
    background-color: lightskyblue;
}
.red{
    background-color: lightcoral;
}

.yellow {
    background-color: yellow;
}


.pink{
    background-color: pink;
}

.green{
    background-color: chartreuse;
}

.orange{
    background-color: orange;
}

.gray{
    background-color: slategray;
}

.mint{
    background-color: honeydew;
}

.lavender{
    background-color: lavender;
}

.fuchsia{
    background-color: fuchsia;
}


/*INDEX*/


h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-size: 4em;
}

/*AFFichage*/


.text-box{
    border: 3px solid white;
    box-shadow: 0 0 5px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}



.text-box a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    transition: 0.5s;
}

.text-box a:hover {
    text-shadow: 0 0 10px white;
}



.text-box p {
    width: 80%;
    opacity: 1;
    text-align: justify;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
}


.text-box p:nth-child(1), .text-box p:nth-child(2) {
    animation: appear 5s 1 backwards;
}

.text-box p:nth-child(3) {
    animation: appear 2.5s 2s 1 backwards;
}

.text-box p:nth-child(4) {
    animation: appear 2.5s 3s 1 backwards;
}

.text-box p:nth-child(5) {
    animation: appear 2.5s 4s 1 backwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

