/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/

}

body {
    min-height: 100vh;
    justify-content: space-between;

    font-family: 'Inconsolata', monospace;

}

body, main, article, a {
    display: flex;
    flex-direction: column;
}


main {
    width: 100%;
    min-height: 80vh;
    flex-grow: 2;
    justify-content: space-around;
    overflow: hidden;

}

/*
article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}

*/



/*INDEX*/

.intro{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:90%;
    justify-content: center;
    border-collapse: collapse;
    border: 2px solid white;
    margin-left: 5%;
}



.intro h1{
    text-align: center;
    font-size: 3em;
    color: red;
}


.intro a {
    text-decoration: none;
}

.intro a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 2px white;
}



/*BACKGROUND*/
.About{
    background-color: rgba(255, 182, 193, 0.5);
}

.portfolio{
    background-color: mediumspringgreen;
}

/*BACKGROUND CHANGE*/
.background_change{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-right:20px;
    z-index: 1;

}

.btn{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 15px;
}
button {
    display:block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 15px;
    color: black;
    text-shadow: 0.4px 0.4px 0.4px black;
}

button:hover{
    text-decoration: underline;
    font-weight: bold;
}

.blue{
    background-color: lightskyblue;
}
.red{
    background-color: lightcoral;
}

.yellow {
    background-color: yellow;
}


.pink{
    background-color: pink;
}

.green{
    background-color: chartreuse;
}

.orange{
    background-color: orange;
}

.gray{
    background-color: slategray;
}

.mint{
    background-color: honeydew;
}

.lavender{
    background-color: lavender;
}

.fuchsia{
    background-color: fuchsia;
}



/*PORTFOLIO*/

/*SCROLL*/


.scroll_to_top {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 0;
}


.scroll_to_top a{
    background-color: transparent;

}

/*ARROW*/
.arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@-webkit-keyframes arrow-jump {
    0%   { opacity: 0;}
    100% { opacity: 1;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
}
.arrow {
    -webkit-animation: arrow-jump 1.5s infinite;
    -moz-animation:    arrow-jump 1.5s infinite;
    -o-animation:      arrow-jump 1.5s infinite;
    animation:         arrow-jump 1.5s infinite;
}





/*PRESENTATION*/

.text{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}




.me{
    display: flex;
    flex-direction: row;

}

.me img{
    border-radius: 20px;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 20px;

}

.me h3{
    width: 50%;
    font-size: 2.5em;
}





/*COMPETENCES*/

.competences{
    display: flex;
    flex-direction: column;
}


.competences h3{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.columns{
    display: flex;
    flex-direction: row;

}

.comp{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 2px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
}

@media (max-width: 1000px) {

    .comp{
        display: flex;
        flex-direction: column;

    }


}

.column{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}





/*PROJETS*/

.work{
    width: 100%;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.bloc1, .bloc2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projet{
    height: 400px;
    width: 400px;

}

@media (max-width: 1000px){
    .work{
        height: 600px;
    }

    .projet{
        height: 200px;
        width: 200px;

    }
}


.plus{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center ;
    margin-bottom: 20px;
}


.plus img{
    display: flex;
    flex-direction: row;
}

.plus img {
    opacity: 0.5;
    filter: invert(100%);
    transition: 0.5s;
}

.plus a{
    color: white;
    display: inline;
    background-color: transparent;
    margin: auto;
}

.plus a:hover img {
    opacity: 1;
}

.plus p{
    text-align: center;
}

/*MAIL*/

.mail{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center ;
    margin-bottom: 20px;
}

.mail img{
    display: flex;
    flex-direction: row;
}

.mail img {
    opacity: 0.5;
    filter: invert(100%);
    transition: 0.5s;
}

.mail a{
    color: white;
    display: inline;
    background-color: transparent;
    margin: auto;
}

.mail a:hover img {
    opacity: 1;
}
