
#mainCat {
    height: 100%;
}

#mainCat article {
    display: flex;
    height: 40vh;
    position: relative;
}
.Abdiv {
    height: 50%;
    width: 50%;
    z-index: 0;
    /*position: relative;*/
    margin: 30px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;

}


#Div1 {
    background-color: red;
    background-size: contain;


}

#Div2 {
   background-color: deepskyblue;
    background-size: contain;

}

#Div3 {
    background-color: lawngreen;
    background-size: contain;
}




.Div4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    animation: none;
}

.text-box {
    border: 3px solid white;
    box-shadow: 0 0 5px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}



.text-box a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    transition: 0.5s;
}

.text-box a:hover {
    text-shadow: 0 0 10px white;
}



.text-box p {
    width: 80%;
    opacity: 1;
    text-align: justify;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
}


.text-box p:nth-child(1), .text-box p:nth-child(2) {
    animation: appear 5s 1 backwards;
}

.text-box p:nth-child(3) {
    animation: appear 2.5s 2s 1 backwards;
}

.text-box p:nth-child(4) {
    animation: appear 2.5s 3s 1 backwards;
}

.text-box p:nth-child(5) {
    animation: appear 2.5s 4s 1 backwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
