@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}

#home a:hover {
    border-collapse: collapse;
    border: 3px solid mediumspringgreen;
}

#project1 a:hover {
    border-collapse: collapse;
    border: 3px solid #c394f8;
}

#project2 a:hover {
    border-collapse: collapse;
    border: 3px solid #c8f4d5;
}

#project3 a:hover {
    border-collapse: collapse;
    border: 3px solid #cceeff;
}

#aboutme a:hover {
    border-collapse: collapse;
    border: 3px solid lightpink;
}