/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/

}

body {
    min-height: 100vh;
    justify-content: space-between;

    font-family: 'Inconsolata', monospace;

}

body, main, article, a {
    display: flex;
    flex-direction: column;
}


main {
    width: 100%;
    min-height: 80vh;
    flex-grow: 2;
    justify-content: space-around;
    overflow: hidden;

}

/*
article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}

*/








/********************************BACKGROUND****************************/
.about{
    background-color: rgba(255, 182, 193, 0.5);
}

.portfolio{
    background-color: mediumspringgreen;
}



/*************************PORTFOLIO************************************/




/*********BACKGROUND CHANGE*****************/
.background_change{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-right:20px;
    z-index: 1;

}

.background_change .btn{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 15px;
}
.background_change button {
    display:block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 15px;
    color: black;
    text-shadow: 0.4px 0.4px 0.4px black;
}

.background_change button:hover{
    text-decoration: underline;
    font-weight: bold;
}

.blue{
    background-color: lightskyblue;
}
.red{
    background-color: lightcoral;
}

.yellow {
    background-color: yellow;
}


.pink{
    background-color: pink;
}

.green{
    background-color: chartreuse;
}

.orange{
    background-color: orange;
}

.gray{
    background-color: slategray;
}

.mint{
    background-color: honeydew;
}

.lavender{
    background-color: lavender;
}

.fuchsia{
    background-color: fuchsia;
}







/***************SCROLL************/


.scroll_to_top {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 0;
}


.scroll_to_top a{
    background-color: transparent;

}





/***********ARROW********************/
.arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@-webkit-keyframes arrow-jump {
    0%   { opacity: 0;}
    100% { opacity: 1;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
}
.arrow {
    -webkit-animation: arrow-jump 1.5s infinite;
    -moz-animation:    arrow-jump 1.5s infinite;
    -o-animation:      arrow-jump 1.5s infinite;
    animation:         arrow-jump 1.5s infinite;
}


.text{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}






/*************PRESENTATION***************/


.me{
    display: flex;
    flex-direction: column;

}

.me img{
    border-radius: 20px;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 20px;

}

.me h3{
    width: 50%;
    font-size: 2.5em;
    text-align: center;
}


.texte_pres{
    display: flex;
    align-items: center;
}











/******************COMPETENCES**************/

.competences{
    display: flex;
    flex-direction: column;
}


.competences h3{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.columns{
    display: flex;
    flex-direction: row;

}

.comp{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 2px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
}

@media (max-width: 1000px) {

    .comp{
        display: flex;
        flex-direction: column;

    }


}

.column{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}




/*********PROJETS************/

.work{
    width: 100%;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
}


/*****CAROUSEL*****/




.slider {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
.slider__image {
    font-size: 2.7rem;
    color: #2196F3;
}
.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.slider img{
    width: 600px;
}

.slider__txt {
    color: #999;
    max-width: 300px;

}



@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}





/****PLUS SIGN***/

#plus{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center ;
    margin-bottom: 20px;
}


#plus img{
    display: flex;
    flex-direction: row;
}

#plus img {
    opacity: 0.5;
    filter: invert(100%);
    transition: 0.5s;
    width:100px;
}

#plus a{
    color: white;
    display: inline;
    background-color: transparent;
    margin: auto;
}

#plus a:hover img {
    opacity: 1;
}




/********MAIL*******/

.mail{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center ;
    margin-bottom: 20px;
}

.mail img{
    display: flex;
    flex-direction: row;
}

.mail img {
    opacity: 0.5;
    filter: invert(100%);
    transition: 0.5s;
}

.mail a{
    color: white;
    display: inline;
    background-color: transparent;
    margin: auto;
}

.mail a:hover img {
    opacity: 1;
}













/***************************************ABOUT**************************/

.about_me, .about_me::before, .about_me::after {
    box-sizing: border-box;
}

.about_me {
    display: flex;
    flex-direction: row;



}


.about h1{
    text-align: left;
    font-size: 3.5em;
    margin-top: 200px;
    margin-bottom: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
}

/*****GRID*****/

.flexbox {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: calc(6% + 1.9vmin);
    height: 1200px;
}


.card {
    background-size: cover;
    /* Change this based on the image main subject */
    border-radius: 1.61803%;

    /*     transition: all 1s ease-in; */
    border-collapse: collapse;
    border: 4px solid black;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}




@supports (display: grid) {
    @media screen and (min-width: 400px) {
        /* Reset height from having an defined to percentage
        and use spans to define size */
        .lrg,
        .med,
        .sm {
            height: 100%;
        }

        /* Margin replaced by grid gap */
        .card {
            margin: 0;
        }

        .grid-wrapper {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3fr 2fr 2fr 1fr;
            display: grid;
            height: 100%;
            justify-content: center;
            align-content: end;
            grid-gap: 2px;
            margin :0;
        }

        .col-num  {
            grid-column: span 2;
        }
    }


    @supports (display: grid) {
        @media screen and (min-width: 600px) {
            .grid-wrapper {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 3fr 2fr 2fr 3fr;
            }

            .col-num {
                grid-column: span 3;
            }

            .item-1,
            .item-4 {
                grid-column: span 2;
            }


        }


        .subhead-1 {
            background-color: lavender;
            text-align: center;
        }

        .subhead-1 p, .item-1 p, .item-2 p, .item-3 p, .item-4 p{
            text-align: left;
            padding-top: 30px;
            padding-left: 5px;
        }
        .item-1 {
            background-color: #c394f8;
            text-align: center;
        }

        .item-2 {
            background-color: #c8f4d5;
        }

        .item-3 {
            background-color: pink;
        }

        .item-4 {
            background-color: skyblue;
        }


}
    }

